.adminContainer {
    display: flex;
    background-color: #F5F5F5;
}
.adminContainer__block {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.adminContainer__content {
    padding: 20px 30px;
}